@import '../vars';


.input-file__label {
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    position: relative;

    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;
}

.input-file__input {
    visibility: hidden;
    position: absolute;
}

.input-file__btn {
    padding: 14px 15px;
    border: 1px solid $c-dark;
    border-radius: 4px 0 0 4;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    pointer-events: none;
    margin-right: 15px;
}

.input-file__info {
    font-size: 16px;
    font-weight: 400;
}


