.superhero-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.superhero-list__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 70px;
}
